<head>

  <style type="text/css">
    <!--.Style1 {color: #6E75A9}.Style8 {color: #6E75A9; font-weight: bold; }.Style12 {	font-size: 9pt;	color: #6E75A9;	font-weight: bold;}.Style20 {font-size: 9pt; font-weight: bold; }.Style23 {font-size: 11pt; }.Style24 {font-size: 9pt; color: #660066; }.Style25 {font-size: 9pt; color: #660066; }.Style26 {color: #660066}.Style27 {color: #000000; }.Style28 {color: #000000; font-weight: bold; }.Style29 {color: #FFFFFF; font-weight: bold; font-size: 9pt; }.Style31 {color: #000000; font-weight: bold; font-size: 10px; }.Style32 {COLOR: #002f17; font-weight: bold;}.Style33 {color: #660066}.Style34 {color: #FFFFFF; }.Style35 {color: #FFFFFF; font-weight: bold; }.Style38 {font-family: Arial, Helvetica, sans-serif}.Style39 {color: #999999}.Style40 {font-size: 8pt}.Style41 {	color: #FFFFFF;	font-size: 11px;	font-weight: bold;}.Style43 {font-size: 11px}.Style44 {         font-size: 12px;         color:#F00000;}
    -->
  </style>
</head>

<body vlink="#6e75a9" alink="#6e75a9" link="#6e75a9" bgcolor="#ffffff" leftmargin="0" topmargin="0">
<div align="center">
  <table cellspacing="0" cellpadding="0" width="580" border="0">
    <tbody>
    <tr>
      <td width="580">
        <table cellspacing="0" cellpadding="0" width="580" border="0">
          <tbody>
          <tr>
            <td width="739">
              <table cellspacing="0" cellpadding="0" width="580" border="0">
                <tbody>
                <tr>
                  <td valign="top" width="579">
                    <div align="center">
                    </div>
                    <div align="center">
                      <table cellspacing="0" cellpadding="0" width="567"
                             border="0">
                        <tbody>
                        <tr>
                          <td width="567"></td>
                        </tr>
                        <tr>
                          <td width="567">
                            <div align="center">
                              <hr>
                              <table cellspacing="0" cellpadding="0"
                                     width="567" border="0">
                                <form
                                  action="https://www4.inscription.tn/cgi-bin/inscription2011/pay.cgi"
                                  method="post"
                                  onsubmit="return desableIt(this.theimage1)"
                                  autocomplete="off">
                                </form>
                                <tbody>
                                <tr bgcolor="#F0F0F0"
                                    class="Style8">
                                  <td height="20"
                                      class="cellule">
                                    <div align="center"
                                         class="Style24">
                                      <p
                                        face="Arial, Helvetica, sans-serif">
                                        Bienvenue
                                        au
                                        Serveur
                                        de
                                        Paiement
                                        de la
                                        Poste
                                        Tunisienne
                                      </p>
                                    </div>
                                  </td>
                                  <td height="20"
                                      bgcolor="#FFFFFF"
                                      class="cellule">
                                    <div align="center"
                                         class="Style25">
                                      <a href="http://www.poste.tn/"
                                         target="_blank"><img
                                        src="../assets/LaPoste/logo_poste.gif"
                                        alt="www.poste.tn"
                                        width="100"
                                        height="50"
                                        border="0"></a>
                                    </div>
                                  </td>
                                  <td width="165" height="20"
                                      class="cellule">
                                    <div align="right"
                                         class="Style23">
                                      <div align="center"
                                           class="Style26">
                                                                                                        <span
                                                                                                          face="Arial, Helvetica, sans-serif">
                                                                                                            مرحبا بكم في
                                                                                                            منظومة
                                                                                                            الدفوعات
                                                                                                            الإلكترونية
                                                                                                            للبريد
                                                                                                            التونسي

                                                                                                        </span>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="0" colspan="3">
                                    <hr>
                                  </td>
                                </tr>
                                <tr bgcolor="#FFaa44">
                                  <td height="20"
                                      class="titre">
                                    <div align="center"
                                         class="Style34">
                                      <div align="left">
                                        Résumé de la
                                        Transaction&nbsp;
                                      </div>
                                    </div>
                                  </td>
                                  <td height="20"
                                      class="titre">
                                    <div align="center"
                                         class="Style35">
                                    </div>
                                  </td>
                                  <td height="20"
                                      class="Style8">
                                    <div align="right"
                                         class="Style34">
                                      التذكير بملخص عملية
                                      الدفع
                                      &nbsp;
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td bgcolor="#FFFFFF"
                                      class="cellule">
                                    &nbsp;</td>
                                  <td bgcolor="#FFFFFF">
                                    &nbsp;</td>
                                  <td bgcolor="#FFFFFF"
                                      class="Style20">
                                    &nbsp;</td>
                                </tr>
                                <tr>
                                  <td width="187" height="30"
                                      bgcolor="#FFFFFF"
                                      class="cellule">
                                    <div align="left">
                                                                                                    <span
                                                                                                      class="titretab">Date
                                                                                                        de la
                                                                                                        Transaction</span><br>
                                    </div>
                                  </td>
                                  <td width="215" height="30"
                                      bgcolor="#FFFFFF">
                                    <div align="center">
                                                                                                    <span
                                                                                                      class="Style24">06/12/2023</span>
                                    </div>
                                  </td>
                                  <td height="30"
                                      bgcolor="#FFFFFF"
                                      class="Style20">
                                    <div align="right">
                                      التاريخ
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="30"
                                      bgcolor="#FFFFFF"
                                      class="cellule">
                                    <div align="right"
                                         class="cellule">
                                      <div align="left">
                                                                                                        <span
                                                                                                          class="titretab"><strong>Objet</strong></span><strong><br>
                                      </strong>
                                      </div>
                                    </div>
                                  </td>
                                  <td height="30"
                                      bgcolor="#FFFFFF"
                                      class="Style24">
                                    <div align="center">
                                                                                                    <span
                                                                                                      class="Style33">Offre
                                                                                                        Bource
                                                                                                        D17</span>
                                    </div>
                                  </td>
                                  <td height="30"
                                      bgcolor="#FFFFFF"
                                      class="Style20">
                                    <div align="right">
                                      الخدمة</div>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="30"
                                      bgcolor="#FFFFFF"
                                      class="cellule">
                                    <div align="left">
                                                                                                    <span
                                                                                                      class="titretab">Montant
                                                                                                        accordé
                                                                                                    </span>(en
                                      DT) <br>
                                      <span
                                        class="Style38"></span>
                                    </div>
                                  </td>
                                  <td height="30"
                                      bgcolor="#FFFFFF"
                                      class="Style24">
                                    <div align="center">
                                                                                                    <span
                                                                                                      class="Style33">
                                                                                                        55,000</span>
                                    </div>
                                  </td>
                                  <td height="30"
                                      bgcolor="#FFFFFF"
                                      class="Style20">
                                    <div align="right">
                                      المبلغ الممنوح

                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="30"
                                      bgcolor="#FFFFFF"
                                      class="cellule">
                                    <div align="left">
                                                                                                    <span
                                                                                                      class="titretab">Au
                                                                                                        profit
                                                                                                        de</span>&nbsp;<br>
                                    </div>
                                  </td>
                                  <td height="30"
                                      bgcolor="#FFFFFF"
                                      class="Style24">
                                    <div align="center">
                                                                                                    <span
                                                                                                      class="text_rouge"><span
                                                                                                      class="Style33">Client
                                                                                                            D17</span>
                                                                                                    </span>
                                    </div>
                                  </td>
                                  <td height="30"
                                      bgcolor="#FFFFFF"
                                      class="Style20">
                                    <div align="right">
                                      المنتفع
                                    </div>
                                  </td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                  <td colspan="3">
                                    <hr>
                                  </td>
                                </tr>
                                <tr bgcolor="#660066">
                                  <td height="20">
                                    <div align="left"
                                         class="Style29">
                                      <div align="center">
                                                                                                        <span
                                                                                                          class="Style40">Pour
                                                                                                            payer
                                                                                                            saisir
                                                                                                            les
                                                                                                            données
                                                                                                            suivantes</span>
                                      </div>
                                    </div>
                                  </td>
                                  <td height="20"
                                      class="cellule Style12">
                                    <div align="center"
                                         class="Style34">
                                    </div>
                                  </td>
                                  <td height="20">
                                    <div align="right"
                                         class="Style41">
                                      <div align="center">
                                        للقيام بعملية
                                        الدفع الرجاء
                                        إدخال البينات
                                        التالية
                                        &nbsp;
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                  <td height="20">
                                    &nbsp;</td>
                                  <td height="20">
                                    &nbsp;</td>
                                  <td height="20"
                                      class="Style20">
                                    &nbsp;</td>
                                </tr>
                                <!-- Num carte-->
                                <tr bgcolor="#FFFFFF">
                                  <td height="30">
                                    <div align="left">
                                                                                                    <span
                                                                                                      class="titretab">Numéro
                                                                                                        de la
                                                                                                        carte
                                                                                                        <span
                                                                                                          style="color: red">
                                                                                                            *
                                                                                                        </span>
                                                                                                    </span><span
                                      class="cellule"><br>
                                                                                                    </span>
                                    </div>
                                  </td>
                                  <td height="30">
                                    <div align="left">
                                                                                                    <span
                                                                                                      class="text_rouge">
                                                                                                        <input
                                                                                                          name="n_carte"
                                                                                                          type="text"
                                                                                                          class="cellule"
                                                                                                          id="n_carte"
                                                                                                          size="30"
                                                                                                          maxlength="20"
                                                                                                          [(ngModel)]="user.n_carte"
                                                                                                        >
                                                                                                    </span>
                                    </div>
                                  </td>
                                  <td height="30"
                                      class="Style20">
                                    <div align="right">
                                      رقم البطاقة

                                    </div>
                                  </td>
                                </tr>
                                <!-- Num carte CIN -->
                                <tr bgcolor="#FFFFFF">
                                  <td height="30">
                                    <div align="left">
                                                                                                    <span
                                                                                                      class="titretab">Numéro
                                                                                                        C.I.N
                                                                                                        <span
                                                                                                          style="color: red">
                                                                                                            *
                                                                                                        </span>
                                                                                                    </span><span
                                      class="cellule"><br>
                                                                                                    </span>
                                    </div>
                                  </td>
                                  <td height="30">
                                    <div align="left">
                                                                                                    <span
                                                                                                      class="text_rouge">
                                                                                                        <input
                                                                                                          name="n_carte"
                                                                                                          type="text"
                                                                                                          class="cellule"
                                                                                                          id="n_cin"
                                                                                                          size="30"
                                                                                                          maxlength="20"
                                                                                                          [(ngModel)]="user.n_cin">
                                                                                                    </span>
                                    </div>
                                  </td>
                                  <td height="30"
                                      class="Style20">
                                    <div align="right">
                                      رقم بطاقة التعريف
                                      الوطنية


                                    </div>
                                  </td>
                                </tr>
                                <!-- NUM 4 chiffre -->
                                <tr bgcolor="#FFFFFF">
                                  <td height="30">
                                    <div align="left">
                                                                                                    <span
                                                                                                      class="titretab">Code
                                                                                                        secret
                                                                                                        <font size="2"
                                                                                                              color="red">
                                                                                                            *
                                                                                                        </font>
                                                                                                        (4
                                                                                                        chiffres)
                                                                                                    </span><span
                                      class="cellule"><br>
                                                                                                    </span>
                                    </div>
                                  </td>
                                  <td height="30">
                                    <div align="left">
                                                                                                    <span
                                                                                                      class="text_rouge">
                                                                                                        <input
                                                                                                          name="c_conf"
                                                                                                          type="password"
                                                                                                          class="cellule"
                                                                                                          id="c_conf"
                                                                                                          size="8"
                                                                                                          maxlength="8"
                                                                                                          [(ngModel)]="user.password">
                                                                                                    </span>
                                    </div>
                                  </td>
                                  <td height="30"
                                      class="Style20">
                                    <div align="right">
                                      الرقم السري

                                    </div>
                                  </td>
                                </tr>
                                <!--Buttons-->
                                <tr bgcolor="#FFFFFF">
                                  <td height="20" colspan="3"
                                      valign="top"
                                      bgcolor="#FFFFFF">
                                    <div align="center">
                                      <font
                                        face="Verdana, Arial, Helvetica, sans-serif"
                                        size="2">
                                      </font>
                                      <font
                                        face="Verdana, Arial, Helvetica, sans-serif"
                                        size="2">
                                        <input
                                          type="button"
                                          value="Retour - Back - رجوع"
                                          onclick="javascript:history.go(-1)">
                                        <input
                                          type="submit"
                                          name="theimage1"
                                          value="Payer - Pay - إستخلاص"
                                          (click)="payer()">
                                      </font>
                                    </div>
                                  </td>
                                </tr>
                                <!--la question-->

                                <tr bgcolor="#FFFFFF">
                                  <td height="20" colspan="3"
                                      valign="top"
                                      bgcolor="#FFFFFF">
                                    <div align="left">
                                      <font
                                        face="Verdana, Arial, Helvetica, sans-serif"
                                        size="2"
                                        color="#660066">
                                        * :
                                        Champ
                                        obligatoire
                                      </font>
                                    </div>
                                    <div align="center">
                                      <font
                                        face="Verdana, Arial, Helvetica, sans-serif"
                                        size="2">
                                      </font>
                                    </div>
                                    <div align="center">
                                      <font
                                        face="Verdana, Arial, Helvetica, sans-serif"
                                        size="2">
                                      </font>
                                    </div>
                                  </td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                  <td colspan="3" height="30">
                                    <div align="left">
                                      <br>
                                      <table border="0"
                                             cellspacing="0"
                                             cellpadding="0">
                                        <tbody>
                                        <tr>
                                          <td width="41"
                                              valign="top">
                                            <img src="../assets/LaPoste/cliquez.gif"
                                                 width="41"
                                                 height="20">
                                          </td>
                                          <td> <span
                                            class="cellule"><span
                                            class="boolean style43"><span
                                            class="style44">La question «
                                                                                                                                Amara
                                                                                                                                »
                                                                                                                                et
                                                                                                                                sa
                                                                                                                                réponse
                                                                                                                                libre
                                                                                                                                ne
                                                                                                                                sont
                                                                                                                                plus
                                                                                                                                nécessaires
                                                                                                                                pour
                                                                                                                                valider
                                                                                                                                votre
                                                                                                                                paiement.
                                                                                                                                Sont
                                                                                                                                suffisantes,
                                                                                                                                la
                                                                                                                                saisie
                                                                                                                                du
                                                                                                                                numéro
                                                                                                                                de
                                                                                                                                la
                                                                                                                                carte
                                                                                                                                et
                                                                                                                                celle
                                                                                                                                du
                                                                                                                                code
                                                                                                                                confidentiel
                                                                                                                                que
                                                                                                                                vous
                                                                                                                                pouvez
                                                                                                                                changer
                                                                                                                                à
                                                                                                                                tout
                                                                                                                                moment
                                                                                                                                en
                                                                                                                                ligne.
                                                                                                                            </span></span></span>
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                      <br><br>
                                    </div>
                                  </td>
                                </tr>
                                <!--footer-->
                                <tr bgcolor="#F0F0F0">
                                  <td height="25">
                                    <div align="center"
                                         class="Style31">
                                      <div align="center">
                                                                                                        <span
                                                                                                          class="Style1 Style32"><span
                                                                                                          class="Style28">&nbsp;</span></span><span
                                        class="Style28">Vous
                                                                                                            Vous êtes
                                                                                                            Vous êtes
                                                                                                            dans une
                                                                                                            zone
                                                                                                            sécurisée

                                                                                                        </span>
                                      </div>
                                    </div>
                                  </td>
                                  <td height="25"
                                      bgcolor="#FFFFFF">
                                    <div align="center"
                                         class="Style27">
                                      <img src="../assets/LaPoste/secure.jpg"
                                           width="20"
                                           height="25">
                                    </div>
                                  </td>
                                  <td height="25">
                                    <div align="right"
                                         class="Style28">
                                      <div align="center"
                                           class="Style20">
                                        هذه الصفحة مؤمنة

                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr bgcolor="#E6E7F0">
                                  <td colspan="3"
                                      bgcolor="#FFFFFF">
                                    <hr>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="3" height="30">
                                    <div align="right"
                                         class="selectboolean Style39">
                                      E-mail : <a
                                      href="mailto:monetique@poste.tn">monetique@poste.tn</a>
                                      - Tél : 1828
                                    </div>
                                    <div align="right">
                                    </div>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                  <td valign="top" width="1">
                    <div align="center"></div>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
